
.oles-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  max-width: 100%;
}
.oles-top-left {
  top: 0;
  left: 0;
}
.oles-top-right {
  top: 0;
  right: 0;
}
.oles-bottom-left {
  bottom: 0;
  left: 0;
}
.oles-bottom-right {
  bottom: 0;
  right: 0;
}
.oles-container .ol-control {
  position: relative;
}
.oles-container > div {
  margin: 2px;
}