.page .theme-default-content:not(.custom) {
  max-width: none;
  padding: 2rem 4rem;
}
.page table {
  width: 100%;
  display: table;
}
.page table td:first-of-type {
    width: 15%;
}
.page table td:nth-of-type(2) {
    width: 25%;
}
.page table td:nth-of-type(3) {
    width: 60%;
}